.P3 {
    padding-top: 10vw;
}

.p3-1 {
    /* background: #f700004b; */
    width: 38vw;
    display: inline-block;
}

.p3-2 {
    width: 62vw;
    display: inline-block;
}

.p3-2 img {
    width: 55vw;
}
.p3-1-1{
    font-size: 15vw;
    margin: -10vw 0 0 11vw ;
    color: #F9F9F9;
    display: inline-block;
}
.p3-1-2{
    display: inline-block;
    font-size: 3vw;
    margin: 0 0 0 12vw;
}
.p3-1-3{

}
.p3-1-4{

}
.p3-1-1-l{
    border-color: #5DA8EF;
    width: 2vw;
}