nav {
    display: flex;
}

nav img {
        margin: 4% 0 0 5%;
}

nav ul {
    padding-left: 10%;
    margin-top: 5%;
}

nav ul li {
    display: inline;
    margin-left: 16%;
}
nav ul li:hover {
    cursor: pointer;
}