nav {
    display: flex;
}

nav img {
    margin: 3vw 0 0 8.4vw;
    width: 1.2vw;
    height: 3vw;
}

nav ul {
    font-size: 1vw;
    letter-spacing: 0.2vw;
    margin: 4.5vw 0 0 10vw;
}

nav ul li {
    display: inline;
    margin-left: 2.5vw;
}
nav ul li:hover {
    cursor: pointer;
}