.P5 {
    /* padding-top: vw; */
    margin-top: 8vw;
}

.p5-1 {
    width: 39.5vw;
    display: inline-block;
}

.p5-2 {
    width: 62vw;
    display: inline-block;
}

.P5 img {
    width: 34vw;
    margin: 0 0 0 22.8vw;
    display: inline-block;
}
 .p5-1-1{
    font-size: 15vw;
    margin: 0vw 0 -8vw 5vw ;
    color: #F9F9F9;
    display: ;
}
.p5-1-2{
    display: inline-block;
    font-size: 3.4vw;
    margin: -5vw 0 0 5vw;
}
.p5-1-3{
    display: inline-block;
    margin: 0 0 0 5vw;
    font-size: 1.3vw;
    color: #D5D5D6;
    width: 25vw;
}
.p5-1-4{
    display: inline-block;
    margin: 4vw 0 0 5vw;
    letter-spacing: 0.31vw;
    cursor: pointer;
    font-size: 0.75vw;
}
.p5-1-1-l{
    margin: 0 0 0 5vw;
    border-color: #5DA8EF;
    width: 1.3vw;
    position: relative;
    z-index: 2;
} 
.p5-1-4-l{
    margin: 0 0 7vw 5vw;
    border-color: #5DA8EF;
    width: 6.7vw;
}