aside {}
aside p {
    color: #D5D5D6;
    rotate: 270deg;
    width: 35vw;
    position: relative;
    top: 1.5vw;
    right: -77.5vw;
    font-size: 1vw;
    letter-spacing: 0.3vw;
}
aside img:hover { cursor: pointer;}
aside img {
    position: absolute;
    /* display: inline-block; */
    left: 94vw;
    height: 1vw;
}
.tumblr{
    height: 1.5vw;
    top: 41vw;
    /* right: -94vw; */
}
.twitter{
    top: 44vw;
    /* right: -92.5vw; */
}
.vimeo{
    top: 47vw;
    /* right: -90.5vw; */
}