.P2 {
    width: 100%;
    /* background: #f0f; */
}

.p2-1,
.p2-2 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.p2-3 {
    display: flex;
    justify-content: center;
    font-size: 1vw;
    margin-top: 1vw;
    letter-spacing: 0.3vw;
}

hr.p2-line {
    border: 1px solid #5DA8EF;
    height: 7vw;
    width: 0;
    margin: 3vw auto;
}
.img-1{
    width: 41vw;
    margin: 0 0 0 9vw;
}
.img-2{
    width: 53vw;
    margin: -25vw 0 0 41vw;
}
.p2-4{
    width: 23vw;
    margin: -14vw 0 0 13vw ;
    font-size: 1.2vw;
    color: #D5D5D6;;
}
.p2-5{
    margin: 2vw 0 0 13vw ;
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
}
.p2-5-l{
    margin: 0.5vw 0 0 13vw ;
    width: 8vw;
    border-color: #5DA8EF;
}